$primary-color: #ff2c3b;
$secondary-color: #49a4e6;
$black-color: #262626;
$white-color: #ffffff;
$gray-color: #b8b8b8;

// Fonts
$primary-font: 'Montserrat', sans-serif;
$secondary-font: 'Playfair Display', serif;

// Grid
$grid-columns: 14;
$grid-gutter-width: 30px;
